body {
margin:0;
font-family:Arial;
background:#ffe6f0;
text-align:center;
}

h1 {
margin-top:90px;
color:#ff2f7d;
}

#gifColumn {
display:flex;
flex-direction:column;
gap:60px;
align-items:center;
margin-top:40px;
}

#gifColumn img {
width:120px;
}

#memories {
margin-top:40px;
}

.memory {
margin:30px;
}

.memory img {
width:250px;
border-radius:15px;
}

/* START BUTTON */
#startBtn {
position:fixed;
top:15px;
left:50%;
transform:translateX(-50%);
padding:15px 25px;
background:#ff4f9a;
color:white;
border:none;
border-radius:30px;
font-size:18px;
z-index:1000;
cursor:pointer;
}

/* mute button */
#musicBtn {
display:none;
position:fixed;
bottom:20px;
right:20px;
border:none;
padding:10px;
border-radius:50%;
font-size:20px;
}
